<form [formGroup]="inputForm" (ngSubmit)="btnClick()">
    <label >
        Artist:
        <input type="text" formControlName="artist">
    </label>
    <label >
        Song:
        <input type="text" formControlName="song">
    </label>
    <button type="submit">Show me the stats!</button>

</form>


<ngx-charts-tree-map
  [view]="view"
  [scheme]="colorScheme"
  [results]="words"
  [gradient]="gradient"
  [animations]="animations"
  [labelFormatting]="labelFormatting"
  (select)="onSelect($event)">
</ngx-charts-tree-map>

<ngx-charts-tree-map
  [view]="view"
  [scheme]="colorScheme"
  [results]="single"
  [gradient]="gradient"
  [animations]="animations"
  [labelFormatting]="labelFormatting"
  (select)="onSelect($event)">
</ngx-charts-tree-map>